.sidebar__banner {
  //   padding-top: $spacing-05;
  //   padding-bottom: $spacing-07 * 4;
  padding-left: 2rem;
  height: 100vh;
  background: #0e0e0e;
  //   overflow: hidden;
  color: white;
}
.sidebar__subheading {
  padding-top: 2rem;
  @include carbon--type-style("productive-heading-03");
  @include carbon--font-weight("semibold");
}
.sidebar__p {
  @include carbon--type-style("productive-heading-01");
  //   margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include carbon--breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}
.sidebar__footer_subheading {
  padding-top: 0.5rem;
  @include carbon--type-style("productive-heading-02");
  @include carbon--font-weight("semibold");
}
.sidebar__footer_p {
  padding-top: 0.5rem;
  @include carbon--type-style("helper-text-01");
}
.sidebar__footer {
  position: relative;
  top: 18rem;
}
